#employees-table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

th {
	padding: 12px;
	background-color: #edeff2;
}

td {
	padding: 10px;
}

#employees-table tr:nth-child(even) {
	background-color: #f9f9f9;
}
